---
import "./Logo.css";
---

<span
  class="special-font font-bold text-2xl"
  aria-label="Matbutikkens Hemmeligheter Logo"
  role="img"
>
  <span
    class="bg-rose-600 bg-clip-text text-transparent bg-gradient-to-r from-rose-600 to-pink-600"
    >M</span
  ><span
    class="bg-emerald-600 bg-clip-text text-transparent bg-gradient-to-r from-emerald-600 via-teal-600 to-cyan-600"
    >H</span
  >
</span>
