---
import { Image } from "astro:assets";
import ListenOnApple from "@assets/ListenOnApple.svg";
---

<div class="flex items-center justify-center h-[40px]">
  <Image
    src={ListenOnApple}
    alt="Listen on Apple Podcasts"
    class="h-full w-auto"
    loading="lazy"
  />
</div>
