---
import { Image } from "astro:assets";
import SpotifyLogo from "@assets/Spotify_Primary_Logo_RGB_White.png";
---

<div class="flex items-center justify-center h-[40px] pb-[1px]">
  <div
    class="h-full inline-flex items-center gap-2 rounded-md px-1.5 py-1 pr-2 bg-black border border-white/70"
  >
    <Image
      src={SpotifyLogo}
      alt=""
      aria-hidden="true"
      class="h-[80%] w-auto"
      loading="lazy"
    />
    <span
      class="text-[10px] md:text-xs text-white font-medium uppercase tracking-wide leading-none"
    >
      Hør på Spotify
    </span>
  </div>
</div>
