@import "tailwindcss";

@layer base {
  :root {
    /* Soft light multi-stop fallback start/end */
    --bg-from: oklch(0.97 0.02 164);
    --bg-to: oklch(0.96 0.03 30);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fredoka", cursive;
}

@layer components {
  .is-scrolled#site-nav {
    @apply bg-gradient-to-br from-[var(--bg-from)]/95 to-[var(--bg-to)]/95 backdrop-blur shadow-md/5;
  }
  #mobile-drawer {
    @apply bg-gradient-to-br from-[var(--bg-from)]/95 to-[var(--bg-to)]/95 backdrop-blur shadow-md/5;
  }
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
}

@media (prefers-reduced-motion: reduce) {
  ::view-transition-old(*),
  ::view-transition-new(*) {
    animation: none !important;
  }
}
