---
import Layout from "../../layouts/Layout.astro";
import Episode from "../_components/Episode.astro";
---

<Layout title="Episoder">
  <div>
    <h1 class="text-4xl font-extrabold mb-6">Episoder</h1>
    <div class="grid grid-cols-2 gap-4">
      <div class="col-span-2 md:col-span-1">
        <Episode />
      </div>
      <div class="col-span-2 md:col-span-1">
        <Episode />
      </div>
      <div class="col-span-2 md:col-span-1">
        <Episode />
      </div>
      <div class="col-span-2 md:col-span-1">
        <Episode />
      </div>
      <div class="col-span-2 md:col-span-1">
        <Episode />
      </div>
      <div class="col-span-2 md:col-span-1">
        <Episode />
      </div>
    </div>
  </div>
</Layout>
