---
import "../styles/global.css";
import "@fontsource/fredoka/700";
const { title } = Astro.props;
---

<html lang="no">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body
    class="text-emerald-950 antialiased bg-gradient-to-br from-emerald-50 via-lime-50 to-rose-50 text-emerald-950"
  >
    <nav
      id="site-nav"
      class="sticky top-0 z-20 text-emerald-800 bg-gradient-to-br from-emerald-50 to-lime-50 mb-2 transition-all duration-100 ease-in-out"
    >
      <div class="flex items-center mx-auto max-w-6xl p-4 font-bold">
        <div class="flex-grow">
          <!-- TODO: Don't use H3 to change style, use tailwind class for font -->
          <h3 class="text-2xl">
            <a href={`${import.meta.env.BASE_URL}`}
              ><span
                class="bg-clip-text text-transparent bg-gradient-to-r from-rose-600 to-pink-600"
                >M</span
              ><span
                class="bg-clip-text text-transparent bg-gradient-to-r from-emerald-600 via-teal-600 to-cyan-600"
                >H</span
              ></a
            >
          </h3>
        </div>
        <div class="flex gap-4 md:gap-6">
          <a href={`${import.meta.env.BASE_URL}episodes`}>Episoder</a>
          <a href="#">Meny</a>
        </div>
      </div>
    </nav>
    <article>
      <slot />
    </article>
    <script is:inline>
      const nav = document.getElementById("site-nav");

      const solidClasses = [
        "bg-gradient-to-br",
        "from-emerald-50/95",
        "to-lime-50/95",
        "backdrop-blur",
        "shadow-md/5",
      ];

      function updateNav() {
        if (window.scrollY > 0) {
          solidClasses.forEach((c) => nav.classList.add(c));
        } else {
          solidClasses.forEach((c) => nav.classList.remove(c));
        }
      }

      updateNav();
      window.addEventListener("scroll", updateNav, { passive: true });

      document.addEventListener("astro:before-swap", () => {
        window.removeEventListener("scroll", updateNav);
      });
    </script>
  </body>
  <footer class="bg-emerald-900 text-white py-8 px-8">
    <section
      class="flex flex-col items-center justify-center mx-auto max-w-6xl px-2 md:px-4 mb-8"
    >
      <p>Coppyright © 2025 Matbutikkens Hemmeligheter.</p>
    </section>
  </footer>
</html>
