---
import "../styles/global.css";
import "@fontsource/fredoka/700";
import BaseLayout from "./BaseLayout.astro";
const { title } = Astro.props;
---

<BaseLayout title={title}>
  <div class="mx-auto max-w-6xl px-4 pb-8">
    <slot />
  </div>
</BaseLayout>
