---
import "../styles/global.css";
import "@fontsource/fredoka/700";
const { title } = Astro.props;
---

<html lang="no">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body
    class="text-emerald-950 antialiased bg-gradient-to-br from-emerald-50 via-lime-50 to-rose-50 text-emerald-950"
  >
    <nav>
      <div class="flex items-center mx-auto max-w-6xl p-4 font-bold">
        <div class="flex-grow">
          <a href="#">Hjem</a>
        </div>
        <div class="flex gap-6">
          <a href="#">Episoder</a>
          <a href="#">Meny</a>
        </div>
      </div>
    </nav>
    <article class="mx-auto max-w-6xl px-2 md:px-4">
      <slot />
    </article>
  </body>
</html>
